body{
	background-color:#ffffff;
	background-image:url('/img/purple-bg_2.jpg');
	background-repeat:repeat;
	color:#e0d06f;
}
#content{
	min-height: 600px;
	background-color:#621c5b;
}

/*topbar*/
#topbar .contact-top img.phone{
	width:45px;
}

/*nav bar*/
#custom-bootstrap-menu{

}
#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(119, 119, 119, 1);
}
#custom-bootstrap-menu.navbar-default {
    font-size: 19px;
	border-radius: 0;
	background-image:url('/img/purple-bg_2.jpg');
	background-repeat:repeat;
	border-color: transparent;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li{
	padding: 0px 5px;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: rgba(198, 171, 86, 1);
    background-color: rgba(248, 248, 248, 0);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(198, 171, 86, 1);
    background-color: rgba(248, 248, 248, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(198, 171, 86, 1);
    background-color: rgba(248, 248, 248, 1);
}

#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #ddd;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #ddd;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #888;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #621c5b;
}
#custom-bootstrap-menu.navbar .navbar-collapse {
  text-align: center;
}
#custom-bootstrap-menu ul.navbar-nav li{
	padding-right:26px !important;
}
.contact-top{
	position: relative;
	top: 55px;
}
/*slider*/
.bx-wrapper ul.bxslider li img{
position: relative;
left: 10px;
}
/*slogan*/
.slogan{
	background-color:#621c5b;
}
.slogan p{
	font-family: font-family: 'Roboto Slab', serif;
	text-align: center;
	font-size: 43px;
	padding:10px;	
}
/*summary*/

#summary1{
	font-size: 22px;
	padding: 2%;
}
#summary1 p{
	position: relative;
	top: -16px;
	color: #c6ab56;
}
#queryForm{
	background-color: #621c5b;
	margin: -5px;
	padding-bottom: 14px;
	border-radius: 10px;
}
#service{
	position: relative;
	top: -15px;
	border-radius: 10px;
	background-color: #621c5b;
}
#service h3{
	text-align: center;
}
#specialized{
	background-color:#621c5b;
}

#other_service{
	text-align:center;
	color:#c6ab56;
}
#other_service ul->li{
	font-size:20px;
}
.bottom_openhours{
	padding-top: 20px;
	font-size: 20px;
}
.bottom_openhours img{
	width:45px;
}
.bottom_email{
	text-align:right;
}
.bottom_email img{
	width:45px;
}
.bottom_address img{
	width:45px;
}
.bottom_phone img{
	width:45px;
}
.bottom_email, .bottom_address, .bottom_phone{
	font-size:15px;
}
#contact{
	background-color:#621c5b;
}
.line{
	width:100%;
	height:50px;
}
.socialLists{
	list-style-type: none;
}
/*map*/
iframe.map{
padding:0 17px;
}
/*Footer*/
footer{
	background-image:url('/img/purple-bg_2.jpg');
	background-repeat:repeat;
}

/*doctors*/
#doctors{
	/*background-color:#621c5b;*/
	color:#c6ab56;
}
.doctor img{
	margin: 12px;
}
#doctors .doctor .title{
	top:35px;
}
#doctors .doctor .description{
	padding-top: 22px;
}
/*treatments*/
.contenthover{
	padding:20px;
}

/*blog*/
#box {
  background:rgba(98, 28, 91, 1);
  overflow: hidden;
  zoom: 1;
}

#box li {
  color: black;
  padding: 10px 0;
  display: inline;
  text-align: center;
  margin: 0 10px 10px 0;
}

#box li .lazy { 
	background: #fff url("/output/images/loading.gif") 50% 50% no-repeat; 
}

#box li div {
  width: 700px;
  height: 500px;
  vertical-align: middle;
}
#box li .dh-overlay p{
	padding: 10px;
	line-height: 20px;
	text-align: center;
}
.blog{
	opacity: 0.5;
}
.dh-overlay {
  background: rgba(52,73,94,.65);
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 50px;
  color: #fff;
}
.pagination li a{
	color:#e0d06f;
}
.pagination-lg>li>a{
	background-color:rgba(98, 28, 91, 1);
}
/*** move top **/
.top-to-page{
	float:right;
}
.scroll {
	width: 48px;
	height: 48px;
	border: none;
	display: block;
	text-indent: 100%;
	background: url(/img/top-icon.png) no-repeat right top;
}
.scroll:hover{
	opacity:0.8;
}
/*blog detail*/
#blog-detail{
	background-color:#621c5b;
}
#blog-detail .blog-content p{
	text-indent: 20px;
	font: normal 15px/1.5em 'Droid Serif', arial, sans-serif;
	font-size: 20px;
}
#blog-detail .blog-content h1{
	font-weight: bold;
}
#blog-detail .blog-content .author h4{
	display:inline;
}
#blog-detail .blog-content .blog-passage{
	padding-top: 20px;
}
#blog-detail .blog-content .blog-passage p.blog-summary{
	font-family: cursive;
	font-size: 24px;
}

