@font-face {
   font-family: Lucida;
   src: url('/fonts/LCALLIG.ttf');
}

body{
	background-image:url('/img/purple-bg_2.jpg');
	background-repeat:repeat;
	color:#e0d06f;
	font-family: 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif;
	font-weight: inherit;
}
#content{
	min-height: 600px;
	background-color:white;
	/*background-color:#621c5b;*/
	color:#796e65;
	font-size:22px;
}
#content p, #content #doctors ul li,#content .passage ul li{
	font-size: 21px;
	font-family: 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif;
	font-weight: 200;
	text-rendering: optimizeLegibility;
	color: #666;
	display: block;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}

#content h3, #content h4{
	font-size:23px;
	font-weight:bold;
	font-family:Lucida;
}
#content h1{
	font-size:32px;
	font-weight:bold;
	font-family:Lucida;
	color: #575151;
}

/*topbar*/
#topbar .contact-top img.phone{
	width:45px;
}

/*nav bar*/
#custom-bootstrap-menu{

}
#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(119, 119, 119, 1);
}
#custom-bootstrap-menu.navbar-default {
    font-size: 19px;
	border-radius: 0;
	background-color:transparent;
	border-color: transparent;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li{
	padding: 0px 1px;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: rgba(198, 171, 86, 1);
    background-color: rgba(248, 248, 248, 0);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
   color: #d3d3d3 ;
 /*  color: rgba(198, 171, 86, 1);
    background-color: rgba(248, 248, 248, 1);*/
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: #d3d3d3 ;
   /* background-color: rgba(248, 248, 248, 1);*/
}

#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #ddd;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #ddd;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #888;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #621c5b;
}
#custom-bootstrap-menu.navbar .navbar-collapse {
  text-align: center;
}
#custom-bootstrap-menu ul.navbar-nav li{
	padding-right:26px !important;
}
@media screen and (max-width: 767px){
#custom-bootstrap-menu .dropdown-menu>li>a {
color: black !important;
font-size: 19px !important;
text-align: center !important;
background-color: white !important;
width:110% !important;
}
#custom-bootstrap-menu .dropdown-menu>li>a:hover {
color: gray !important;

}

}
@media screen and (min-width: 768px){
	.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}

.navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}
.navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
}
.dropdown-menu>li>a:hover{
background-color:#621c5b!important;
width: 114%!important;
color:#e0d06f!important ;
}

}

.contact-top{
	position: relative;
	top: 55px;
	color:rgba(198, 171, 86, 1);
}
.contact-top p img.phone{
	background-color:rgba(198, 171, 86, 1);
	border-radius:16px;
}
/*slider*/
.bx-wrapper ul.bxslider li img{
position: relative;
left: 10px;
}
/*slogan*/
.slogan{
	/*background-color:#621c5b;*/
}
#content .slogan p{
	font-family:Lucida;
	text-align: center;
	font-size: 43px;
	padding:10px;	
}
/*summary*/

#summary1{
	font-size: 22px;
	padding: 2%;
}
#summary1 p{
	position: relative;
	top: -16px;
	color: gray;
}
#queryForm  .queryForm{
	background-color: #621c5b;
	margin: -5px;
	padding-bottom: 14px;
	border-radius: 10px;
}
.queryForm{
	background-color: #621c5b;
	padding-bottom: 14px;
	border-radius: 10px;
	margin-top: 21px;
	margin-bottom: 10px;
}
.queryForm h2, .queryForm h3{
	text-align: center;
	color: rgba(198, 171, 86, 1);
	font-size: 27px;
}
#service{
	position: relative;
	top: -15px;
	border-radius: 10px;
	/*background-color: #621c5b;*/
}
#service p{
	font-size:17px;
	text-align: center;
}
#service div img{
	/*background-color:#621c5b;*/
}
#service  .service1 p{
	position: relative;
	top: -19px;
}
#service .service2 p{
	position: relative;
	left: 0px;
}
#service .service3 p{
	position: relative;
	left: 0px;
}
#service .service4 p{
	position: relative;
	left: -8px;
	top: -15px;
}
#service h3{
	font-family:Lucida;
	text-align: center;
}
#specialized h4{
	font-family: 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif;
	font-weight: inherit;
	text-align:center;
	font-size:19px;
	/*background-color:#621c5b;*/
}
#specialized p{
	font-size:13px;
	text-align:center;
}
#specialized .special-width1 p{
	width: 111%;
}
#specialized .special-width2 p{
	width: 165px;
}
#specialized div img{
	/*background-color:#621c5b;*/
}

#other_service{
	text-align:center;
	color:#gray;
}
#other_service ul->li{
	font-size:20px;
}
.bottom_openhours{
	padding-top: 20px;
	font-size: 20px;
}
.bottom_openhours img{
	width:45px;
}
.bottom_email{
	text-align:right;
}
.bottom_email img{
	width:45px;
}
.bottom_address img{
	width:45px;
}
.bottom_phone img{
	width:45px;
}
.bottom_email, .bottom_address, .bottom_phone{
	font-size:15px;
}
#contact{
	/*background-color:#621c5b;*/
}
.line{
	width:100%;
	height:50px;
}
.socialLists{
	list-style-type: none;
}
/*map*/
iframe.map{
padding:0 17px;
}
/*Footer*/
footer{
	/*background-image:url('/img/purple-bg_2.jpg');
	background-repeat:repeat;*/
	min-height:182px;
	padding-top: 35px;
	color:rgba(198, 171, 86, 1);
}

/*doctors*/
#doctors{
	/*background-color:#621c5b;*/
	color:gray;
}
.doctor img{
	margin: 12px;
}
#doctors .doctor .title{
	top:35px;
}
#doctors .doctor .description{
	padding-top: 22px;
}
/*treatments*/
.contenthover{
	padding:20px;
}

/*blog*/
/*create blog*/
#blog{
	background-color:white;
}
#box {
  background:rgba(98, 28, 91, 1);
  overflow: hidden;
  zoom: 1;
}

#box li {
  color: black;
  padding: 10px 0;
  display: inline;
  text-align: center;
  margin: 0 10px 10px 0;
}

#box li .lazy { 
	background: #fff url("/output/images/loading.gif") 50% 50% no-repeat; 
}

#box li div {
  width: 700px;
  height: 500px;
  vertical-align: middle;
}
#box li .dh-overlay p{
	padding: 10px;
	line-height: 20px;
	text-align: center;
	color: oldlace;
}
#box li h1{
	color:white;
}

.blog{
	opacity: 0.5;
}
.dh-overlay {
  background: rgba(52,73,94,.65);
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 50px;
  color: #fff;
}
.pagination li a{
	color:#e0d06f;
}
.pagination-lg>li>a{
	background-color:rgba(98, 28, 91, 1);
}
/*** move top **/
.top-to-page{
	float:right;
}
.scroll {
	width: 48px;
	height: 48px;
	border: none;
	display: block;
	text-indent: 100%;
	background: url(/img/top-icon.png) no-repeat right top;
}
.scroll:hover{
	opacity:0.8;
}
/*blog detail*/
#blog-detail{
	background-color:white;
	padding-bottom: 15px;
}
#blog-detail .blog-content p{
	text-indent: 20px;
	font: normal 15px/1.5em 'Droid Serif', arial, sans-serif;
	font-size: 20px;
}
#blog-detail .blog-content h1{
	font-weight: bold;
}
#blog-detail .blog-content .author h4{
	display:inline;
}
#blog-detail .blog-content .blog-passage{
	padding-top: 20px;
}
#blog-detail .blog-content .blog-passage p.blog-summary{
	font-family: cursive;
	font-size: 24px;
}

